<template>
  <div>
    <div class="header">

        <!-- Image -->
        <img src="../assets/css/img/covers/team-cover.jpg" class="header-img-top" alt="...">
        
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body mt-n5 mt-md-n6">
            <div class="row align-items-end">
              <div class="col-auto">
                
                <!-- Avatar -->
                <div class="avatar avatar-xxl header-avatar-top">
                  <img src="../assets/css/img/avatars/teams/team-logo-1.jpg" alt="..." class="avatar-img rounded border border-4 border-body">
                </div>

              </div>
              <div class="col mb-3 ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Organizaciones
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Corts Valencianes
                </h1>

              </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="#" class="nav-link active">
                      Eventos
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div> <!-- / .header-body -->

        </div>

      </div> <!-- / .header -->
      
      <!-- CONTENT -->
      <div data-toggle="lists" data-options='{"valueNames": ["name"]}'>
        <div class="container-fluid" data-toggle="lists" data-options='{"valueNames": ["name"], "listClass": "listAlias"}'>
          <div class="row mb-4">
            <div class="col">
              
              <!-- Form -->
              <form>
                <div class="input-group input-group-lg input-group-merge">
                  <input type="text" class="form-control form-control-prepended search" placeholder="Buscar">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div> <!-- / .row -->

          <!-- Tab content -->
          <div class="tab-content">
            <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
              <div class="row listAlias">
                <div class="col-12 col-md-6 col-xl-4">

                  <!-- Card -->
                  <div class="card">
                    <a href="project-overview.html">
                      <img src="../assets/css/img/avatars/projects/project-8.jpg" alt="..." class="card-img-top">
                    </a>
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                      
                          <!-- Title -->
                          <h4 class="card-title mb-2 name">
                            <a href="#">Evento 1 </a> <span class="badge badge-soft-success">Abierto</span>
                          </h4>

                          <!-- Subtitle -->
                          <p class="card-text small text-muted">
                            <strong>Fecha: </strong>27/07/2019
                          </p>

                        </div>
                        <div class="col-auto">
                          
                          <button class="btn btn-primary">Invitar</button>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Divider -->
                      <hr>

                      <div class="row align-items-center">
                        <div class="col">
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">

                              <div class="small mr-2">29%</div>
                              
                            </div>
                            <div class="col">
                              
                              <!-- Progress -->
                              <div class="progress progress-sm">
                                <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div> <!-- / .row -->

                    </div> <!-- / .card-body -->
                  </div>
                  
                </div>
                <div class="col-12 col-md-6 col-xl-4">

                  <!-- Card -->
                  <div class="card">
                    <a href="project-overview.html">
                      <img src="../assets/css/img/avatars/projects/project-8.jpg" alt="..." class="card-img-top">
                    </a>
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                      
                          <!-- Title -->
                          <h4 class="card-title mb-2 name">
                            <a href="#">Evento 2 </a> <span class="badge badge-soft-dark">Terminado</span>
                          </h4>

                          <!-- Subtitle -->
                          <p class="card-text small text-muted">
                            <strong>Fecha: </strong>17/05/2019
                          </p>

                        </div>
                        <div class="col-auto">
                          
                          <button class="btn btn-primary" disabled>Invitar</button>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Divider -->
                      <hr>

                      <div class="row align-items-center">
                        <div class="col">
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">

                              <div class="small mr-2">79%</div>
                              
                            </div>
                            <div class="col">
                              
                              <!-- Progress -->
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div> <!-- / .row -->

                    </div> <!-- / .card-body -->
                  </div>
                  
                </div>
                <div class="col-12 col-md-6 col-xl-4">

                  <!-- Card -->
                  <div class="card">
                    <a href="project-overview.html">
                      <img src="../assets/css/img/avatars/projects/project-8.jpg" alt="..." class="card-img-top">
                    </a>
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                      
                          <!-- Title -->
                          <h4 class="card-title mb-2 name">
                            <a href="#">Evento 3 </a><span class="badge badge-soft-success">Abierto</span>
                          </h4>

                          <!-- Subtitle -->
                          <p class="card-text small text-muted">
                            <strong>Fecha: </strong>30/06/2019
                          </p>

                        </div>
                        <div class="col-auto">
                          
                          <button class="btn btn-primary" disabled>Invitar</button>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Divider -->
                      <hr>

                      <div class="row align-items-center">
                        <div class="col">
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">

                              <div class="small mr-2">100%</div>
                              
                            </div>
                            <div class="col">
                              
                              <!-- Progress -->
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div> <!-- / .row -->

                    </div> <!-- / .card-body -->
                  </div>
                  
                </div>
              </div> <!-- / .row -->
            </div>
          </div> <!-- / .tab-content -->

        </div>
      </div>
  </div>
</template>
