<template>
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
              
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            Iniciar Sesión
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            Acceso a nuestro dashboard.
          </p>
          
          <!-- Form -->
          <form>

            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label>Email</label>

              <!-- Input -->
              <input type="email" class="form-control" placeholder="nombre@mail.com">

            </div>

            <!-- Password -->
            <div class="form-group">

              <div class="row">
                <div class="col">
                      
                  <!-- Label -->
                  <label>Contraseña</label>

                </div>
                <div class="col-auto">
                  
                  <!-- Help text -->
                  <a href="#" class="form-text small text-muted">
                    ¿Has olvidado la contraseña?
                  </a>

                </div>
              </div> <!-- / .row -->

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <input id="typepwd" type="password" class="form-control form-control-appended" placeholder="Contraseña">

                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i v-on:click="observar" class="fe fe-eye"></i>
                  </span>
                </div>

              </div>
            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              Iniciar Sesión
            </button>

            <!-- Link -->
            <p class="text-center">
              <small class="text-muted text-center">
                ¿No tienes una cuenta? <a href="#">Registrarse</a>.
              </small>
            </p>
            
          </form>

        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
          
          <!-- Image -->
          <div class="bg-cover vh-100 mt-n1 mr-n3" id="fondologin"></div>

        </div>
      </div> <!-- / .row -->
    </div>
   </div>
</template>

<script>
document.getElementById("sidebarSmall").classList.add("displaynone");
document.getElementById("topbar").classList.add("displaynone");
document.getElementById("maincontent").classList.remove("main-content");

function observar(bal){
  alert("hola")
  document.getElementById("typepwd").type = 'text'
}


export default {
}
</script>


<style>
.alltv{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.navbar{
    display: none;
}
#fondologin{
  background-image: url(../assets/css/img/covers/auth-side-cover.jpg);
  background-size: auto;
}
.fe{
  cursor: pointer;
  transition: 0.3s;
}
.fe:hover{
  color: rgb(43, 43, 43);
  transition: 0.3s;
}

</style>
