<template>
  <div>
    <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  General
                </h6>

                <!-- Title -->
                <h1 id="dashboardactivo" class="header-title">
                  Organizaciones
                </h1>

              </div>
              <div class="col-auto">
                

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .header-body -->

        </div>
      </div> <!-- / .header -->
      
      <!-- CARDS -->
      <div class="container-fluid">
        <div class="row">
        
        </div> <!-- / .row -->
      </div>
  </div>
</template>
