<template>
  <div>
    <div class="container alltv">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

          <!-- Image -->
          <div class="text-center">
            <img src="../assets/css/img/illustrations/happiness.svg" alt="..." class="img-fluid">
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
          
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            Registrarse
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            Accede a nuestro dashboard.
          </p>

          <!-- Form -->
          <form id="registerform">

            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Email
              </label>

              <!-- Input -->
              <input type="email" class="form-control" placeholder="nombre@mail.com">

            </div>

            <!-- Password -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Contraseña
              </label>

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <input type="password" class="form-control form-control-appended" placeholder="Contraseña">

                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fe fe-eye"></i>
                  </span>
                </div>

              </div>
            </div>

            <!-- Password -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Repetir Contraseña
              </label>

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <input type="password" class="form-control form-control-appended" placeholder="Repite Contraseña">

                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fe fe-eye"></i>
                  </span>
                </div>

              </div>
            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              Registrarse
            </button>

            <!-- Link -->
            <div class="text-center">
              <small class="text-muted text-center">
                ¿Dispones de una cuenta? <a href="#">Iniciar Sesión</a>.
              </small>
            </div>

          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div>
</template>

<script>
document.getElementById("sidebarSmall").classList.add("displaynone");
document.getElementById("topbar").classList.add("displaynone");
document.getElementById("maincontent").classList.remove("main-content");

export default {
  
}
</script>


<style>
.alltv{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.navbar{
    display: none;
}
</style>
