<template>
  <div id="app">
    <nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md navbar-light" id="sidebarSmall">
      <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarSmallCollapse" aria-controls="sidebarSmallCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img src="./assets/css/img/logo.svg" class="navbar-brand-img 
          mx-auto" alt="...">
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarSmallCollapse">

          <!-- Form -->
          <form class="mt-4 mb-3 d-md-none">
            <div class="input-group input-group-rounded input-group-merge">
              <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-search"></span>
                </div>
              </div>
            </div>
          </form>

          <!-- Divider -->
          <hr class="navbar-divider d-none d-md-block mt-0 mb-3">
          
          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item dropright">
              <b-nav-item to="/" class="nav-link dropdown-toggle @@if(category=='dashboards'){active}" id="sidebarSmallDashboards" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Home">
                <i class="fe fe-home"></i> <span class="d-md-none">Home</span>
              </b-nav-item>
            </li>
            <li class="nav-item dropright">
              <b-nav-item to="/organizaciones" class="nav-link dropdown-toggle @@if(category=='pages'){active}" id="sidebarSmallPages" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Organizaciones">
                <i class="fe fe-users"></i> <span class="d-md-none">Eventos</span>
              </b-nav-item>
            </li>
            <li class="nav-item d-md-none">
              <a class="nav-link" href="#sidebarModalActivity" data-toggle="modal">
              <span class="fe fe-bell"></span> Notifications
              </a>
            </li>
          </ul>

        </div> <!-- / .navbar-collapse -->

      </div>
    </nav>

      <div class="main-content scrollbar-macosx" id="maincontent">
        <nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
            <div class="container-fluid">

            <!-- Form -->
            <form class="form-inline mr-4 d-none d-md-flex">
              <div class="input-group input-group-flush input-group-merge" data-toggle="lists" data-options='{"valueNames": ["name"]}'>

                <!-- Input -->
                <input type="search" class="form-control form-control-prepended dropdown-toggle search" data-toggle="dropdown" placeholder="Buscar" aria-label="Search">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fe fe-search"></i>
                  </div>
                </div>
              </div>
            </form>

            <!-- User -->
            <div class="navbar-user">
              
              <!-- Dropdown -->
              <div class="dropdown mr-4 d-none d-md-flex">
                
                <!-- Toggle -->
                <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="icon active">
                    <i class="fe fe-bell"></i>
                  </span>
                </a>

                <!-- Menu -->
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">
                        
                        <!-- Title -->
                        <h5 class="card-header-title">
                          Notificaciones
                        </h5>

                      </div>
                      <div class="col-auto">
                        
                        <!-- Link -->
                        <a href="#!" class="small">
                          Ver todas
                        </a>

                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .card-header -->
                  <div class="card-body">

                    <!-- List group -->
                    <div class="list-group list-group-flush my-n3">
                      <a class="list-group-item px-0" href="#!">
                      
                        <div class="row">
                          <div class="col-auto">
                            
                            <!-- Avatar -->
                            <div class="avatar avatar-sm">
                              <img src="./assets/css/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>

                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Content -->
                            <div class="small text-muted">
                              <strong class="text-body">Ana Salvador</strong> Ha aceptado tu invitación para el evento de <strong class="text-body">Un día en el puerto</strong>.
                            </div>

                          </div>
                          <div class="col-auto">

                            <small class="text-muted">
                              2m
                            </small>
                            
                          </div>
                        </div> <!-- / .row -->

                      </a>
                      <a class="list-group-item px-0" href="#!">

                        <div class="row">
                          <div class="col-auto">
                            
                            <!-- Avatar -->
                            <div class="avatar avatar-sm">
                              <img src="./assets/css/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>

                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Content -->
                            <div class="small text-muted">
                              <strong class="text-body">Vicente Soler</strong> Ha aceptado tu invitación para el evento de <strong class="text-body">Un día en el puerto</strong>.
                            </div>

                          </div>
                          <div class="col-auto">

                            <small class="text-muted">
                              2m
                            </small>
                            
                          </div>
                        </div> <!-- / .row -->

                      </a>
                      <a class="list-group-item px-0" href="#!">

                        <div class="row">
                          <div class="col-auto">
                            
                            <!-- Avatar -->
                            <div class="avatar avatar-sm">
                              <img src="./assets/css/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>

                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Content -->
                            <div class="small text-muted">
                              <strong class="text-body">Sara Moliu</strong> Ha aceptado tu invitación para el evento de <strong class="text-body">Un día en el puerto</strong>.
                            </div>

                          </div>
                          <div class="col-auto">

                            <small class="text-muted">
                              2m
                            </small>
                            
                          </div>
                        </div> <!-- / .row -->

                      </a>
                    </div>
                    
                  </div>
                </div> <!-- / .dropdown-menu -->

              </div>

              <!-- Dropdown -->
              <div class="dropdown">
                
                <!-- Toggle -->
                <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="./assets/css/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                </a>

                <!-- Menu -->
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item">Perfil</a>
                  <a href="#" class="dropdown-item">Ajustes</a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item">Cerrar Sesión</a>
                </div>

              </div>

            </div>
          
          </div>
        </nav>

        <router-view/>
      </div>
  </div>
</template>
